@-webkit-keyframes toPass {
    to{
        background-color: #119000;
    }
}

@-webkit-keyframes  toFail{
    to {
        background-color: #DF0209;
    }
}
@-webkit-keyframes  toReset{
    to {
        background-color: orangered;
    }
}

@-webkit-keyframes entry-animate {
    from{
        background-color: darkgreen;
    }
    to{
        background-color: white;
    }
 }

@-webkit-keyframes parsing-animation {
    from{
        background-color: darkorange;
    }
    to{
        background-color: orangered;
    }
 }